[submodule "oliphaunt"]
	path = servers/src/lib/oliphaunt
	url = git@github.com:romance-ii/elephant
        branch = .

[submodule "jscl"]
	path = jscl
	url = git@github.com:romance-ii/jscl
	branch = squishy-supreme

