{% extends "layouts/blank.html" %}
{% block title %}Version {{ product }} {{ build-date }}{% endblock %}
{% block body %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/platform/1.3.4/platform.min.js"></script>
<h1> Romance Ⅱ Game System </h1>

<section id="server">
  <input id="server-section" class="hide-away" type="checkbox" checked>
  <h2> <label for="server-section">Server Process</label> </h2>
  <article class="hide-away">
    <p> The server product is <tt id="product">{{ product }}</tt>,
      version <tt id="version">{{ version }}</tt>,
      compiled <span id="build-date">{{ build-date }}</span>. </p>
    <p> <q>{{product}}</q>
      is running on a
      <span id="machine-type">{{ machine.type }}</span>
      machine
      (<small>version <span id="machine-version">{{ machine.version }}</span></small>),
      named <span id="machine-instance">{{ machine.instance }}</span>.
      Its system software
      is <span id="software-type">{{ software.type }}</span>,
      version <span id="software-version">{{ software.version }}</span>.

      My Common Lisp implementation is <span id="lisp-type">{{ lisp.type }}</span>,
      version <span id="lisp.version">{{ lisp.version }}</span>.
    </p>
    <p> The runtime environment is
      {% if environment.configuration %}
      <q>{environment.configuration}.</q>
      {% else %}
      unnamed.
      {% endif %}
      
      {% if environment.developmentp %}
      This is a development environment.
      {% else %}
      {% if environment.productionp %}
      This is a public (production) environment.
      {% else %}
      This is a testing environment.
      {% endif %}
      {% endif %}
    </p>

    {% if lisp-libs %}
    {% endif %}

  </article>
</section>

<section id="u-a">
  <input id="ua-section" class="hide-away" type="checkbox">
  <h2><label for="ua-section"> Your User-Agent (Browser) </label></h2>
  <article class="hide-away">
    <p> Your web browser information appears below. We may request this for
      technical support. </p>

    <p> If you encounter a problem while playing the game,
      the <q>ladybug</q> icon can be used to submit a bug report that will
      contain useful information like this. </p>

    <noscript><p class="warning">Javascript is not working; you will not be able to play this game.
        <a href="http://enable-javascript.com/">Enable JavaScript.</a></p></noscript>

    <ul id="ua-info">
      <li> User-Agent/Browser: <strong><script>document.writeln(platform.description)</script></strong> </li>
      <li> HTTP User-Agent header: <tt><script>document.writeln(navigator.userAgent)</script></tt> </li>
      <li> Layout engine: <script>document.writeln(platform.layout)</script> </li>
      <li> Device/product: <script>document.writeln((platform.manufacturer || 'Any') +' '+(platform.product || 'General Computer'))</script> </li>
    </ul>

    <p> Ask your browser <a href="about:" target="_new">about itself</a>. </p>

  </article>
</section>

<section id="©">
  <input id="©-section" class="hide-away" type="checkbox">
  <h2> <label for="©-section">Copyright</label> </h2>
  <article>
    <p id="copyright-disclaimer"><strong> Copyright ©
        2004-{{ copyright-latest }}, Bruce-Robert Fenn Pocock.
        All Rights Reserved</strong> except as granted under
        license. </p>


    <h3> <img src="https://www.gnu.org/graphics/agplv3-155x51.png"
              alt="Affero General Public License Version 3"
              >License </h3>

    <p> This program is free software: you can redistribute it and/or
      modify it under the terms of
      the <a href="https://www.gnu.org/licenses/agpl-3.0-standalone.html"
             id="license">GNU Affero General Public License</a> as published by
      the Free Software Foundation, either version 3 of the License, or
      (at your option) any later version. </p>

    <p id="warranty"> This program is distributed in the hope that it will
      be useful, but WITHOUT ANY WARRANTY; without even the implied
      warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
      See <a href="https://www.gnu.org/licenses/agpl-3.0-standalone.html">the
        GNU Affero General Public License</a> for more details. </p>

    <p> You can review or download the source code for this
      software <a href="https://github.com/romance-ii/ciwta">on
        GitHub</a> at your convenience. </p>

    <h3> Other contributions </h3>

    <h4> Wikimedia Foundation </h4>

    <p> This game's knowledgebase is deeply indebted to the work of the
      non-profit Wikimedia
      Foundation. <a href="http://wikipedia.org/">Wikipedia</a> and
      DBpedia and other resources are used, directly and indirectly, to
      support non-player character knowledge and language systems. </p>

    <p> The authors would like to encourage our users to consider supporting
      the work of the Wikimedia Foundation financially. A small-dollar
      recurring subscription pays off. </p>

    <h4> FreeBase </h4>

    <div class="small">
      <p> Freebase Data Dumps are provided free of charge for any purpose with
        regular updates by Google. They are distributed, like Freebase itself,
        under the Creative Commons Attribution (aka CC-BY) and use is subject
        to the Terms of Service. The Freebase/Wikidata ID mappings are
        provided under CC0 and can be used without restrictions. </p>
    </div>

    <h4> <!-- FIXME: insecure content warning -->
      <!-- <img src="http://resources.mpi-inf.mpg.de/yago-naga/yago/logo/yago_logo.svg"
                alt="YAGO" style="height: 3.5em"> --> YAGO</h4>

    <div class="small">
      <p> Tootsville characters use data from the YAGO ontology. </p>

      <p>YAGO can only be so large because it is based on other sources.
        We would like to thank</p>

      <ul>
        <li>the numerous voluntary editors of
          <a href="http://wikipedia.org" target="_blank">Wikipedia</a>. <br/>
          Thank you for giving mankind such a wonderful
          huge encyclopedia!</li>
        <li>the creators of
          <a href="http://wordnet.princeton.edu" target="_blank">WordNet</a>.
          <br/> Thank you for organizing and analyzing the English language in
          such a diligent way and thank you for making your work available
          for free!</li>
        <li>the creators and contributors of
          <a href="http://geonames.org" target="_blank">GeoNames</a> for
          collecting a huge number of geographical locations and allowing the
          reuse of their work!</li>
      </ul>

      <p>YAGO has benefited from many contributors. In particular, the
        following people deserve our thanks:</p>
      <ul>
        <li> The numerous volunteers who reported bugs in the YAGO
          ontology </li>
        <li> The <a href="http://dbpedia.org" target="_blank">DBPedia team</a> for integrating the YAGO taxonomy into the DBPedia project </li>
        <li> <a href="http://www.mkbergman.com/" target="_blank">Mike Bergman</a> for his numerous helpful comments on YAGO </li>
        <li> <a href="http://fgiasson.com/" target="_blank">Frederick
            Giasson</a> for his substantial help with the RDFS converter </li>
      </ul>

    </div>

    <h4> ConceptNet5 </h4>

    <div class="small">
      <p> This work includes data from ConceptNet 5, which was compiled by the
        Commonsense Computing Initiative. ConceptNet 5 is freely available
        under the Creative Commons Attribution-ShareAlike license (CC BY SA
        3.0) from
        <a href="http://conceptnet5.media.mit.edu/">conceptnet5.media.mit.edu</a>.

      <p> The included data was created by contributors to Commonsense
        Computing projects, contributors to Wikimedia projects, Games with
        a Purpose, Princeton University's WordNet, DBPedia, OpenCyc, and Umbel. </p>

      <h4> RTW/NELL </h4>

      <p> This game's natural language and commonsense knowledgebase are
        augmented  by  the  Carnegie-Mellon
        Univesity <a href="http://rtw.ml.cmu.edu/rtw/">Read The Web:
          Never-Ending language Learning</a> dataset </p>
    </div>

    <h4> Extended WordNet </h4>

    <div class="small">

      <p> This game's natural language interfaces are augmented by eXtended
        WordNet 2.0-1.1 for WordNet 2.0 Copyright © 2003 by the University of
        Texas at Dallas. All rights reserved. (WordNet is copyrighted by the
        Princeton University) </p>

      <p> This software and database is provided <q>as is</q> and the
        University of Texas at Dallas makes no representations or warranties,
        express or implied. by way of example, but not limitation, University
        of Texas at Dallas makes no representations or warranties of
        merchantability or fitness for any particular purpose or that the use
        of the licensed software, database or documentation will not infringe
        any third party patents, copyrights, trademarks or other rights. </p>

      <p> The name of University of Texas at Dallas may not be used in advertising
        or publicity pertaining to distribution of the software and/or
        database. Title to copyright in this software, database and any
        associated documentation shall at all times remain with University of
        Texas at Dallas and LICENSEE agrees to preserve same. </p>

    </div>
  </article>

</section>

<section id="fonts">
  <input id="fonts-section" class="hide-away" type="checkbox">
  <h2> <label for="fonts-section">Typefaces</label> </h2>
  <article>
    <ul>
      <li style="font-family: Cantarell"
          >Most text in this game and documentation is typeset in Cantarell
        <a href="https://fonts.google.com/specimen/Cantarell">by
          Dave Crossland et al.</a> </li>
      <li style="font-family: Acme"
          >Titles and headlines are typeset in Acme
        <a href="https://fonts.google.com/specimen/Acme">by Huerta
          Tipográfica</a> </li>
      <li style="font-family: Inconsolata"
          >Some “mechanical” text or numeric information is typeset in Inconsolata
        <a href="https://fonts.google.com/specimen/Inconsolata">by
          Ralph Levien (Boldface by Kirill Tkachev)</a> </li>
  </article>
</section>

<section id="services">
  <input id="services-section" class="hide-away" type="checkbox">
  <h2> <label for="services-section">Services</label> </h2>
  <article>
    <h3> Development link </h3>

    Development information at <a href="https://www.tootsville.org/development/">tootsville.org/development</a>.

    <h3> Non-Free Partners </h3>

    <p> Source code hosted courtesy of
      <a href="https://github.com/romance-ii/"><i class="fa
                                                         fa-github"></i>
        GitHub</a>. </p>

    <p> {{product}} is made with support from proprietary software provided
      by these organizations: </p>

    <div class="nascar">
      <a href="https://travis-ci.org/"
         ><img src="https://cdn.worldvectorlogo.com/logos/travis-ci.svg"
               lowsrc="https://cdn.travis-ci.com/images/logos/TravisCI-Mascot-2-d5b35f3b8638f0bffe878b49df530136.png"
               title="Travis-CI" alt="Travis-CI"></a>

      <!-- FIXME: insecure content warning -->
      <a href="https://browserstack.com/"
         ><img src="http://freevector.co/wp-content/uploads/2010/11/browserstack.png"
               title="BrowserStack" alt="BrowserStack"></a>

      <a href="https://circleci.com/"
         ><img src="https://d3r49iyjzglexf.cloudfront.net/logo-circleci-9a5afe10588065ad315b972de5ed572c25fb39a973e4b9cd28a35f88694f1fa0.svg"
               title="Circle CI"></a>

      <a href="https://instabug.com/"
         ><img src="https://www.spirulasystems.com/wp-content/uploads/2016/12/Instabug-Logo.png"
               title="Instabug" alt="Instabug"></a>

      <a href="https://rollbar.com/"
         ><img src="https://rollbar.com/assets/homepage/images/media/svg/rollbar-logo-color-stacked.svg"
               title="Rollbar" alt="Rollbar"></a>

      <a href="https://codeship.com/"
         ><img src="https://cdn.worldvectorlogo.com/logos/codeship.svg"
               title="Codeship" alt="Codeship"></a>
    </div>
  </article>
</section>


<section id="freedom">
  <h2> Power of Freedom </h2>

  <p> {{product}} is made with these free software components </p>

  <div class="nascar">

    <a href="http://getfedora.org/"
       ><img -- fixme; insecure content warning --
          src="http://funwithlinux.net/wp-content/uploads/2013/02/Fedora_Freedom1_2.png"
          title="Choose Freedom. Choose Fedora."
          style="min-height: 4in !important; 
max-height:  90vh !important; float: right;"></a>

    <a href="https://jscl-project.github.io/"
       ><img src="/nascar/jscl.svg"
             title="JSCL: JavaScript Common Lisp"></a>

    <a href="http://common-lisp.net/"
       ><img src="https://1.bp.blogspot.com/_86fa3woQOHU/TNfkiUb6tkI/AAAAAAAAB8w/upTdGx_PfMU/s1600/Lisp.png"
             title="Lisp. Caution: Made with Secret Alien Technology"></a>

    <a href="http://www.sbcl.org/"
       ><img src="https://avatars0.githubusercontent.com/u/318632?v=3&s=200"
             title="SBCL: Steel Bank Common Lisp"></a>

    
    <a href="https://www.gnu.org/s/emacs"
       ><img src="https://upload.wikimedia.org/wikipedia/commons/5/5f/Emacs-logo.svg"
             title="GNU Emacs"></a>

    <a href="http://www.linux.com/"
       ><img src="https://upload.wikimedia.org/wikipedia/commons/3/35/Tux.svg"
             title="GNU Linux"></a>

    <!-- FIXME: shitty icon quality, insecure content warning -->
    <a href="https://www.seleniumhq.com/"
       ><img
          src="http://www.seleniumhq.org/images/big-logo.png"
          alt="Selenium"></a>

    <!-- FIXME: insecure content warning -->
    <a href="http://www.babylonjs.com/"
       ><img src="http://www.babylonjs.com/assets/Logo.svg"
             title="Babylon.js"></a>

    <a href="https://www.blender.org/"
       ><img src="https://upload.wikimedia.org/wikipedia/commons/3/3c/Logo_Blender.svg"
             title="Blender"></a>

    <a href="https://www.gimp.org/"
       ><img src="https://www.gimp.org/images/frontpage/wilber-big.png"
             title="The Gimp"></a>

    <a href="https://www.mozilla.org/"
       ><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/Mozilla_Foundation_logo.svg/1024px-Mozilla_Foundation_logo.svg.png"
             title="Mozilla Foundation"></a>

    <a href="https://www.gnu.org/"
       ><img src="https://www.gnu.org/graphics/bahlon/3d-gnu-head.jpg"
             title="Gnu's Not Unix"></a>

    <a href="https://webtorrent.io/"
       ><img src="https://camo.githubusercontent.com/357343e823b1c8d37418edce5ac401832eda2d27/68747470733a2f2f776562746f7272656e742e696f2f696d672f576562546f7272656e742e706e67"
             title="WebTorrent"></a>

  </div>
</section>

{% endblock %}
