[Unit]
Description=The Tootsville HTTP REST Server
After=network.target remote-fs.target nss-lookup.target httpd-init.service

[Service]
Type=forking
Environment=LANG=C

ExecStart=/usr/local/bin/Tootsville daemon
ExecReload=
ExecStop=/usr/local/bin/Tootsville swank-send-stop

[Install]
WantedBy=multi-user.target
