[Unit]
Description=The Tootsville HTTP REST Server
After=network.target remote-fs.target nss-lookup.target httpd-init.service

[Service]
Type=simple
Environment=LANG=C

ExecStart=sudo pil /usr/local/bin/Tootsville daemon
#ExecReload=
ExecStop=sudo pil killall Tootsville
#/usr/local/bin/Tootsville swank-send-stop

[Install]
WantedBy=multi-user.target
