<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} / tootsville — Tootsville </title>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/doc.css">

    <!--    Font     Awesome    CDN    code    is     “registered”    to
            support@tootsville.adventuring.click -->
    <script src="https://use.fontawesome.com/2e97e3d2fa.js"></script>

    <!--  Icons,  bookmark  settings,   web  app  binding  like  native,
          stuff -->
    <link rel="apple-touch-icon" sizes="180x180"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/apple-touch-icon.png">

    <link rel="icon" type="image/png" sizes="106x106"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-106x106.png">
    <link rel="icon" type="image/png" sizes="120x120"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-120x120.png">
    <link rel="icon" type="image/png" sizes="128x128"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-128x128.png">
    <link rel="icon" type="image/png" sizes="144x144"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-144x144.png">
    <link rel="icon" type="image/png" sizes="150x150"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-150x150.png">
    <link rel="icon" type="image/png" sizes="152x152"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-152x152.png">
    <link rel="icon" type="image/png" sizes="16x16"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="170x170"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-170x170.png">
    <link rel="icon" type="image/png" sizes="180x180"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-192x192.png">
    <link rel="icon" type="image/png" sizes="210x210"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-210x210.png">
    <link rel="icon" type="image/png" sizes="24x24"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-24x24.png">
    <link rel="icon" type="image/png" sizes="256x256"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-256x256.png">
    <link rel="icon" type="image/png" sizes="30x30"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-30x30.png">
    <link rel="icon" type="image/png" sizes="32x32"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="42x42"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-42x42.png">
    <link rel="icon" type="image/png" sizes="44x44"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-44x44.png">
    <link rel="icon" type="image/png" sizes="48x48"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-48x48.png">
    <link rel="icon" type="image/png" sizes="50x50"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-50x50.png">
    <link rel="icon" type="image/png" sizes="512x512"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-512x512.png">
    <link rel="icon" type="image/png" sizes="54x54"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-54x54.png">
    <link rel="icon" type="image/png" sizes="62x62"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-62x62.png">
    <link rel="icon" type="image/png" sizes="64x64"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-64x64.png">
    <link rel="icon" type="image/png" sizes="70x70"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-70x70.png">
    <link rel="icon" type="image/png" sizes="71x71"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-71x71.png">
    <link rel="icon" type="image/png" sizes="72x72"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-72x72.png">
    <link rel="icon" type="image/png" sizes="76x76"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-76x76.png">
    <link rel="icon" type="image/png" sizes="90x90"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-90x90.png">
    <link rel="icon" type="image/png" sizes="96x96"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="99x99"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-99x99.png">
    <meta name="msapplication-TileColor" content="#0082c8">
    <meta name="msapplication-TileImage"
          content="https://jumbo.tootsville.adventuring.click/Assets/Icons/mstile-144x144.png">
    <meta name="theme-color" content="#9669ad"> <!-- Chrome -->
    <meta name="application-name" content="Tootsville">

    <!-- Accounts Metadata -->
    <meta name="google-signin-client_id"
          content="1052481910502-sumg845at7g627qdvhhhambm7c7do8e4.apps.googleusercontent.com">
    <meta property="og:url"
          content="https://tootsville.adventuring.click/" />
    <meta property="og:title"
          content="Tootsville" />
    <meta property="og:description"
          content="A fun multiplayer adventure for the whole family." />
    <meta property="fb:app_id"
          content="1265378050154137" />
    <link href="https://plus.google.com/+TootsvilleOrg" rel="publisher">

    <!-- Semantic data -->
    <meta  property="og:url" content="https://tootsville.adventuring.click/">
    <meta property="og:title" content="Tootsville">
    <meta property="og:description"
          content="A fun multiplayer adventure for the whole family." >
    <!--meta property="og:image" content="" /-->

    <!-- Default to opening all hyperlinks in new tabs -->
    <base target="_blank">
  </head>
  <body class="embed">
    <!-- Google Analytics -->
    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-80917352-1', 'auto');
      ga('set', 'transport', 'beacon');	ga('set','appName','tootsville');
      ga('set','appVersion','0.0.1');
      ga('require', 'linkid');		ga('require', 'eventTracker');
      ga('require', 'outboundLinkTracker');	ga('require', 'urlChangeTracker');
      ga('send', 'pageview');
    </script>

    {% block body %}{% endblock %}

  </body>
</html>
