<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} / tootsville — Tootsville </title>
    <link      rel="stylesheet"      type="text/css"      media="screen"
               href="/css/main.css">

    <script>{% include "rollbar.js" %}</script>

    <!--    Font     Awesome    CDN    code    is     “registered”    to
            support@tootsville.adventuring.click -->
    <script src="https://use.fontawesome.com/2e97e3d2fa.js"></script>

    <!-- Social and Sign-In -->
    <script src="https://apis.google.com/js/client:platform.js?onload=googleSignInButton"
            async defer></script>
    <script src="/js/social.js" async defer></script>
    <script src="https://www.google-analytics.com/analytics.js" async></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/autotrack/1.0.0/autotrack.js"
            async></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <!-- See if our ads are working -->
    <script src="//www.googleadservices.com/pagead/conversion.js"
            type="text/javascript" async></script>

    <!-- Actual game code -->
    <script src="/js/jscl.js"></script>
    <!-- script src="/js/mesh.js" /script -->
    <!-- script src="/js/lisp.js" /script -->

    <!-- Babylon.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babylonjs/2.5.0/babylon.js" async defer></script>

    <!-- U-A platform identification -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/platform/1.3.4/platform.min.js"></script>

    <!--  Icons,  bookmark  settings,   web  app  binding  like  native,
          stuff -->
    <link rel="apple-touch-icon" sizes="180x180"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/apple-touch-icon.png">

    <link rel="icon" type="image/png" sizes="106x106"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-106x106.png">
    <link rel="icon" type="image/png" sizes="120x120"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-120x120.png">
    <link rel="icon" type="image/png" sizes="128x128"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-128x128.png">
    <link rel="icon" type="image/png" sizes="144x144"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-144x144.png">
    <link rel="icon" type="image/png" sizes="150x150"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-150x150.png">
    <link rel="icon" type="image/png" sizes="152x152"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-152x152.png">
    <link rel="icon" type="image/png" sizes="16x16"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="170x170"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-170x170.png">
    <link rel="icon" type="image/png" sizes="180x180"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-192x192.png">
    <link rel="icon" type="image/png" sizes="210x210"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-210x210.png">
    <link rel="icon" type="image/png" sizes="24x24"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-24x24.png">
    <link rel="icon" type="image/png" sizes="256x256"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-256x256.png">
    <link rel="icon" type="image/png" sizes="30x30"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-30x30.png">
    <link rel="icon" type="image/png" sizes="32x32"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="42x42"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-42x42.png">
    <link rel="icon" type="image/png" sizes="44x44"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-44x44.png">
    <link rel="icon" type="image/png" sizes="48x48"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-48x48.png">
    <link rel="icon" type="image/png" sizes="50x50"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-50x50.png">
    <link rel="icon" type="image/png" sizes="512x512"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-512x512.png">
    <link rel="icon" type="image/png" sizes="54x54"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-54x54.png">
    <link rel="icon" type="image/png" sizes="62x62"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-62x62.png">
    <link rel="icon" type="image/png" sizes="64x64"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-64x64.png">
    <link rel="icon" type="image/png" sizes="70x70"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-70x70.png">
    <link rel="icon" type="image/png" sizes="71x71"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-71x71.png">
    <link rel="icon" type="image/png" sizes="72x72"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-72x72.png">
    <link rel="icon" type="image/png" sizes="76x76"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-76x76.png">
    <link rel="icon" type="image/png" sizes="90x90"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-90x90.png">
    <link rel="icon" type="image/png" sizes="96x96"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="99x99"
          href="https://jumbo.tootsville.adventuring.click/Assets/Icons/favicon-99x99.png">
    <link rel="manifest"
          href="/manifest.json">
    <meta name="msapplication-TileColor" content="#0082c8">
    <meta name="msapplication-TileImage"
          content="https://jumbo.tootsville.adventuring.click/Assets/Icons/mstile-144x144.png">
    <meta name="theme-color" content="#9669ad"> <!-- Chrome -->
    <meta name="application-name" content="Tootsville">

    <!-- Accounts Metadata -->
    <meta name="google-signin-client_id"
          content="1052481910502-sumg845at7g627qdvhhhambm7c7do8e4.apps.googleusercontent.com">
    <meta property="og:url"
          content="https://tootsville.adventuring.click/" />
    <meta property="og:title"
          content="Tootsville" />
    <meta property="og:description"
          content="A fun multiplayer adventure for the whole family." />
    <meta property="fb:app_id"
          content="1265378050154137" />
    <link href="https://plus.google.com/+TootsvilleOrg" rel="publisher">

    <!-- Semantic data -->
    <meta  property="og:url" content="https://tootsville.adventuring.click/">
    <meta property="og:title" content="Tootsville">
    <meta property="og:description"
          content="A fun multiplayer adventure for the whole family." >
    <!--meta property="og:image" content="" /-->

    <!-- Default to opening all hyperlinks in new tabs -->
    <base target="_blank">


    <!-- Babylon.js -->


  </head>
  <body>

    {% include "layouts/html5.loading.html" %}

    <div id="fb-root"></div>

    <div class="invisible">

      <h1> Tootsville </h1>
      <p> Tootsville  is a fun,  multi-player online  virtual world where  you can play,  build, and
        explore for free. </p>

      <p> If you see this  message, your system may not be able to join the  game. (Or, the game may
        still       be       loading.)       You       might       find       more       information
        <a    href="https://wikiwiki.tootsville.adventuring.click/wikiwiki/Troubleshooting">on   our
          Troubleshooting page</a>. </p>

      <noscript><p class="warning">Javascript  is not  working; you will  not be able  to play  this game.
          <a href="http://enable-javascript.com/">Enable JavaScript.</a></p>
        <h1 style="font-size: 2in">
          &nbsp; <br>
          &nbsp; <br>
          &nbsp; <br>
          &nbsp; <br>
          &nbsp; <br>
          &nbsp; <br>
          &nbsp; <br>
          &nbsp; <br>
          &nbsp; <br>
          &nbsp; </h1>

      </noscript>


      &nbsp; <br>
      &nbsp; <br>
      &nbsp; <br>
      &nbsp; <br>
      &nbsp; <br>
      &nbsp; <br>
      &nbsp; <br>
      &nbsp; <br>
      &nbsp; <br>
      &nbsp; <br>

    </div>

    <section id="game">
    </section>

    {% block overlay %}{% endblock %}

    <section id="watermark">
      tootsville <br> © 2004-2017 <i style="font-face: Chancery, serif">brfp</i>
    </section>

    <script type="application/ld+json">
      {% include "ld.json" %}
    </script>

    <script src="https://s3.amazonaws.com/instabug-pro/sdk_releases/instabugsdk-1.1.1.min.js"></script>
    <script>ibgSdk.init({token: 'a1f625a30b0071644267de171fe2bed6'});</script>
  </body>
</html>
