<div id="html5-loading">
  <img src="https://jumbo.tootsville.adventuring.click/Assets/Icons/tootsville-logo.svg"
       id="html5-loading-tootsville-title" alt="Tootsville">
  <i id="html5-loading-spinner" class="fa fa-gear fa-spin" aria-hidden="true"></i>
  <div id="html5-loading-text">Loading… </div>
  <div id="html5-loading-splain">Tootsville is an <i id="fa-html5" aria-hidden="true"></i>
    <a href="https://wikiwiki.tootsville.adventuring.click/wikiwiki/HTML5">HTML5</a>
    application. It may take a few seconds to load. </div>
</div>

<script>
  {% include "mobile.warning.js" %}
</script>
