AddHandler type-map .var
AddHandler server-parsed .shtml
AddHandler server-parsed .htmlf
Options +MultiViews +Includes
<FilesMatch "\.shtml$">
  Header set Content-type "text/html;charset=utf-8"
</FilesMatch>
<FilesMatch "\.htmlf$">
  Header set Content-type "text/html;charset=utf-8"
</FilesMatch>
